[Unit]
Description=Gunicorn instance to serve Homedaemon web
Requires=couchdb.service
After=couchdb.service
After=network-online.target
Wants=network-online.target

[Service]
User=http
Group=http
RuntimeDirectory=gunicorn
WorkingDirectory=/var/www/homedaemon
ExecStart=/usr/bin/gunicorn -k gevent --bind unix:/run/homedaemon/homedaemon.sock -m 007 --timeout 120 homedweb:app
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
