[Unit]
Description=homemanager sercvice
Requires=couchdb.service
After=couchdb.service
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/homemanager.py

[Install]
WantedBy=multi-user.target

