<!DOCTYPE html>
<html>
<head>
  <title>SmartHome</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://angrysoft.ovh/angry.min.css">
  <style>
    .logo, .btn {
      width: 100%;
     }
  </style>
</head>
<body>
<div class="container">
  <div class="row center-xs">
    <!--<div class="col-xs-6 g-signin2" data-onsuccess="onSignIn"></div>-->
    <div class="col-xs-11 col-md-3">
      <img class="logo" src="/static/logo.png">
    </div>
  </div>
  <div class="row center-xs">
    <div class="col-xs-11 col-md-6">
      <a href="{{ uri }}" class="btn blue">Link</a>
    </div>
  </div>
</div>
<div class="container">
  {% block footer %}
  <footer class="txt-center">
		<p>Copyright © 2018 Angrysoft . All Rights Reserved.</p>
		<p>Design by <a target="_blank" href="http://www.angrysoft.ovh">Angrysoft</p>
	</footer>
  {% endblock %}
</div>
</body>
</html>