<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
  <link rel="manifest" href="/static/site.webmanifest">
  <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/static/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="/static/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  <meta name="apple-mobile-web-app-title" content="HomeDaemonWeb">
  <meta name="application-name" content="HomeDaemonWeb">
  <meta name="theme-color" content="#000000">
  <title>Angry Home</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://angrysoft.ovh/css/angrycss-1.min.css">
  <link rel="stylesheet" type="text/css" href="/static/devices.min.css">
  <script defer src="/static/scripts/devices.js" type="text/javascript"></script>
</head>
<body>
{% from 'deviceswidgets.html' import ctrl_neutral, plug, color_light, white_light, tv, loader %}
{% from 'deviceswidgets.html' import temp, sensor_motion_aq2, magnet %}
{% from 'deviceswidgets.html' import colorset, whiteset, tvset %}
{% from 'deviceswidgets.html' import scene %}

{{ loader() }}
{{ colorset() }}
{{ tvset() }}
{{ whiteset() }}

  <div class="container-fluid" id="tabs">
    <div class="row center-xs">
      <div class="col-xs-12 txt-center">
        <select id="tab-select" class="select round-8">
          {% for p in places %}
          <option value="{{ loop.index0 }}">{{ p }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    {% for place in places %}
    <div class="row center-xs tab" data-name="{{ place }}">
      <div class="col-xs-12">
        <div class="row center-xs place-name">
          <div class="col-xs-12 txt-center">
            <p>{{ place }}</p>
          </div>
        </div>
        <div class="row between-xs top-xs">
          {% for d in places[place] %}
            {% if d.get('model') in ['ctrl_neutral1','ctrl_neutral2']  %}
              {{ ctrl_neutral(d) }}
            {% elif d.get('model') in ['bslamp1', 'color', 'rgbstrip'] %}
              {{ color_light(d) }}
            {% elif d.get('model') in ['desklamp', 'philips.light.candle'] %}
              {{ white_light(d) }}
            {% elif d.get('model') in ['plug', 'diy_plug'] %}
              {{ plug(d) }}
            {% elif d.get('model') == 'KDL-48W585B' %}
              {{ tv(d) }}
            {% elif d.get('model') in ['sensor_ht', 'weather.v1'] %}
              {{ temp(d) }}
            {% elif d.get('model') == 'sensor_motion.aq2' %}
              {{ sensor_motion_aq2(d) }}
            {% elif d.get('model') == 'magnet' %}
              {{ magnet(d) }}
            {% elif d.get('model') == 'scene' %}
              {{ scene(d) }}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/static/sw.js').then(function(reg) {
      console.log('Service Worker Registered!', reg);

      reg.pushManager.getSubscription().then(function(sub) {
        if (sub === null) {
          // Update UI to ask user to register for Push
          console.log('Not subscribed to push service!');
        } else {
          // We have a subscription, update the database
          console.log('Subscription object: ', sub);
        }
      });
      }).catch(function(err) {
        console.log('Service Worker registration failed: ', err);
      });
    }
    
    Notification.requestPermission(function(status) {
      console.log('Notification permission status:', status);
    });
    
  </script>
</body>
</html>
