<!DOCTYPE html>
<html>
<head>
{% block head %}
  <title>HomeDaemonWeb</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
  <link rel="manifest" href="/static/site.webmanifest">
  <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/static/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="/static/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  <meta name="apple-mobile-web-app-title" content="HomeDaemonWeb">
  <meta name="application-name" content="HomeDaemonWeb">
  <meta name="theme-color" content="#000000">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <style>
    body {
      background-color: rgb(35, 35, 35);
      color: white;
      margin: 0;
    }
    html, body {
      width: 100%;
      height: 100%;
    }
  </style>
{% endblock %}
</head>
<body class="dark">
{% block content %}
{% endblock%}
</div>
</body>
</html>
