{% extends 'layout.html' %}
{% block head %}
{{ super() }}
    <meta name="google-signin-client_id" content="877412399754-shou706hpt8q4llqenm6p93vthr4q28o.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
{% endblock %}

{% block content %}
<div style="display:grid;justify-content: center; align-items: center;padding: 2rem;">
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
</div>
<script>
    function onSignIn(googleUser) {
        let id_token = googleUser.getAuthResponse().id_token;
        fetch('/signin', {
            method: 'POST',
            // headers: {'Content-Type': 'application/x-www-form-urlencoded'},
            body: id_token.toString()
        })
        .then(response => response.text)
        .then(txt => {
            if (txt === 'ok') {
                let url = new URL(window.location.href);
                let target = url.searchParams.get("next") || '/';
                window.location.replace(target);
            }
        })
        .catch((error) => {
            console.log('Error', error)
        });
    }

    function signOut() {
        let auth2 = gapi.auth2.getAuthInstance();
        auth.signOut();
    }
    
</script>
{% endblock %}