@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

@layer base {
  p {
    @apply mt-1 mb-1;
  }
  
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  h4 {
    font-size: 1.2rem;
  }
  h5 {
    font-size: 0.9rem;
  }
  h6 {
    font-size: 0.8rem;
  }
  ul {
    @apply list-disc px-2 my-1;
  }
  
  input,
  textarea {
    @apply border border-black p-03;
  }
  
  p {
    word-break: break-word;
  }
}

@layer components {
  .transition-height {
    transition: height 1s;
  }
  
  .selected {
      @apply bg-indigo-200;
  }
  
}

@layer utilities {
  .a-delay-none {
    animation-delay: 0;
  }
  
  .a-delay-1 {
    animation-delay: 1s;
  }
  .a-delay-2 {
    animation-delay: 2s;
  }
  .a-delay-3 {
    animation-delay: 3s;
  }
  .a-delay-4 {
    animation-delay: 4s;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  display: grid;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--main-font-color);
  font-size: 16px;
  overflow-x: hidden;
  background-color: #ECEFF1;
}

*::-webkit-scrollbar {
    display: none;
}

* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

a {
    color: black;
    text-decoration: none;
}


.material-icons {
    vertical-align: middle;
  }
  
  span.material-icons,
  span {
      line-height: 2rem;
  }
  
  span.material-icons {
      margin-right: 0.5rem;
  }

/* .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
} */

.material-symbols-outlined {
    font-size: 1.5rem;
  }

  input[type=range]::-moz-range-thumb,
  input[type=range]::-webkit-slider-thumb {
    height: 3rem;
    background-color: red !important;
  }